<div class="loadingtime" ng-if="loading">
	<span aria-hidden="true" class="icon_loading animate360"></span>
</div>
<main id="main-content" ng-if="!loading">
	<section id="slider" class="fullheight">
		<div class="slides">
			<div class="slick-slide" style="background-image: url('{{imagesUrl}}banners/{{slide.foto}}');" ng-repeat="slide in slides">
				<div class="text right">
					<div class="inner" ng-click="goToSlide(slide)">
						<h3>{{slide.subtitulo}}</h3>
						<h2>{{slide.titulo}}</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="categories" class="section">
		<div class="wrapper">
			<div class="featured row clearfix">
				<div class="box">
					<div class="item">
						<img ng-src="{{imagesUrl}}banners/{{banners.foto1}}" alt="">
						<div class="text">
							<h4>{{banners.subtitulo1}}</h4>
							<h3>{{banners.titulo1}}</h3>
							<a href="#/{{banners.seccion1}}/{{banners.parametros1}}">Ver más</a>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="item">
						<img ng-src="{{imagesUrl}}banners/{{banners.foto2}}" alt="">
						<div class="text">
							<h4>{{banners.subtitulo2}}</h4>
							<h3>{{banners.titulo2}}</h3>
							<a href="#/{{banners.seccion2}}/{{banners.parametros2}}">Ver más</a>
						</div>
					</div>
				</div>
			</div>
			<div class="showcase row clearfix">
				<div class="box" ng-repeat="categoria in categorias">
					<div class="item">
						<img ng-src="{{imagesUrl}}categorias/w/tn/{{categoria.foto_cat}}" alt="Imagen de {{categoria.nombre_cat}}">
						<div class="text">
							<h3>{{categoria.nombre_cat}}</h3>
							<a href="#/categoria/{{categoria.idcategoria}}">Ver más</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>