<div class="loadingtime" ng-if="loading">
	<span aria-hidden="true" class="icon_loading animate360"></span>
</div>
<main id="main-content" class="single">
	<section id="blog">
		<article class="blog-post">
			<div class="img-banner">
				<img ng-src="{{imagesUrl}}/blog/w/{{post.foto}}" alt="">
			</div>
			<div class="wrapper">
				<header>
					<!-- <h4><a href="">Summer</a></h4> -->
					<h3>{{post.titulo}}</h3>
					<div class="share-me">
						<!-- <a class=""><span aria-hidden="true" class="icon_heart_alt"></span></a> -->
						<a class="share-this"><span aria-hidden="true" class="social_share"></span></a>
					</div>
				</header>
				<div class="content" ng-bind-html="post.cuerpo | unsafe">
				</div>
				<div class="comments">
					<div class="fb-comments" data-href="http://gotrendyapp.com/#/post/{{post.idpost}}" data-width="100%" data-numposts="5"></div>
				</div>
			</div>
		</article>
	</section>
	<section id="related" class="section bottom">
		<div class="wrapper clearfix">
			<h2 class="title">Articulos relacionados</h2>
			<div class="blogposts row clearfix">
				<article class="box" ng-repeat="post in posts">
					<div class="inner">
						<div class="img">
							<a ui-sref="post({id: post.idpost})">
								<img ng-src="{{imagesUrl}}/blog/w/tn/{{post.foto}}" alt="">
							</a>
						</div>
						<div class="content">
							<!-- <h4><a href="">Summer</a></h4> -->
							<h3><a ui-sref="post({id: post.idpost})">{{post.titulo}}</a></h3>
							<div ng-bind-html="post.resumen | unsafe"></div>
						</div>
						<div class="share-me">
							<!-- <a class=""><span aria-hidden="true" class="icon_heart_alt"></span></a> -->
							<a class="share-this"><span aria-hidden="true" class="social_share"></span></a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
</main>