<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Go Trendy</title>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="/bower_components/elegant-icons/css/style.css" />
		<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
		<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css styles/main.css -->
		<link rel="stylesheet" href="styles/normalize.css">
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->

		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="/bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>


<body ng-app="gotrendy" ng-controller="AppCtrl" ng-cloak>
	<!--[if lt IE 10]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="container">
		<div id="search">
			<form class="clearfix">
				<input type="text" class="text" placeholder="Ingrese su búsqueda..." />
				<!--<input type="submit" class="submit" value="&#x55;"/>-->
				<a class="close-btn"><span aria-hidden="true" class="icon_close"></span></a>
			</form>
		</div>
		<header id="header">
			<div class="wrapper">
				<a class="mobile-btn"><span aria-hidden="true" class="icon_menu"></span></a>
				<div class="logo">
					<a ui-sref="home"><img src="images/logo.png" alt="Trendie" /></a>
				</div>
				<nav id="main-navigation">
					<ul>
						<li ng-if="!globals.currentUser"><a ng-click="loginLb()"><span aria-hidden="true" class="icon_genius"></span> <span class="text">Login/Registro</span></a></li>
						<li ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="misOrdenes"><span aria-hidden="true" class="icon_genius"></span> <span class="text">Mi cuenta</span></a></li>
						<li  ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="wishlist"><span aria-hidden="true" class="icon_heart_alt"></span> <span class="text">Wishlist</span></a></li>
						<li ui-sref-active="active"><a ui-sref="disenadores"><span aria-hidden="true" class="icon_star_alt"></span> <span class="text">Diseñadores</span></a></li>
						<li><a href="blog.html"><span aria-hidden="true" class="icon_comment_alt"></span> <span class="text">Blog</span></a></li>
						<li ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="carrito"><span aria-hidden="true" class="icon_bag_alt"> <span class="bubble" ng-if="productosCarrito > 0">{{productosCarrito}}</span></span> <span class="text">Checkout</span></a></li>
						<li ng-if="globals.currentUser"><a ng-click="logOut()"><span aria-hidden="true" class="icon_genius"></span> <span class="text">Salir</span></a></li>
					</ul>
				</nav>
				<a href="#" class="search-btn"><span aria-hidden="true" class="icon_search"></span> <span class="text">Search</span></a>
			</div>
		</header>
		<aside id="mobile-navigation">
			<ul>
				<li ng-if="!globals.currentUser"><a ng-click="loginLb()"><span aria-hidden="true" class="icon_genius"></span> <span class="text">Login/Registro</span></a></li>
				<li ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="misOrdenes"><span aria-hidden="true" class="icon_genius"></span> Mi cuenta</a></li>
				<li  ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="wishlist"><span aria-hidden="true" class="icon_heart_alt"></span> Wishlist</a></li>
				<li ui-sref-active="active"><a ui-sref="disenadores"><span aria-hidden="true" class="icon_star_alt"></span> Diseñadores</a></li>
				<li><a href="blog.html"><span aria-hidden="true" class="icon_comment_alt"></span> Blog</a></li>
				<li  ng-if="globals.currentUser" ui-sref-active="active"><a ui-sref="carrito"><span aria-hidden="true" class="icon_bag_alt"></span> Checkout</a></li>
				<li ng-if="globals.currentUser"><a ng-click="logOut()"><span aria-hidden="true" class="icon_genius"></span> <span class="text">Salir</span></a></li>
			</ul>
		</aside>

      <div ui-view="full" class="elview">
      </div>


		<footer id="footer">
			<div class="wrapper">
				<div class="top clearfix">
					<section id="subscribe" class="clearfix">
						<form>
							<input type="email" class="email" placeholder="Subscríbase" />
							<input type="submit" class="submit" value="Enviar"/>
						</form>
					</section>
					<section class="social">
						<a href="" class="tw"><span aria-hidden="true" class="social_twitter"></span></a>
						<a href="" class="ig"><span aria-hidden="true" class="social_instagram"></span></a>
						<a href="" class="fc"><span aria-hidden="true" class="social_facebook"></span></a>
					</section>
				</div>
				<p>Copyright 2016 Trendie. All Rights Reserved.</p>
			</div>
		</footer>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	// (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	// function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	// e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	// e.src='https://www.google-analytics.com/analytics.js';
	// r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	// ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/bower_components/ng-dialog/js/ngDialog.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-credit-cards/release/angular-credit-cards.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/main.js -->
	<script src="scripts/main.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
	<!-- endbuild -->
</body>
</html>
