<ion-view class="blog">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<div class="titulo">
			<h1>Blog</h1>
		</div>
		<div class="post" ng-repeat="post in posts" ng-click="goToPost(post.idpost, $event)">
			<img ng-src="{{imagesUrl}}/blog/{{post.foto}}" alt="">
			<div class="padding">
				<h1>{{post.titulo}}</h1>
				<div class="resume" ng-bind-html="post.resumen"></div>
				<a class="button button-icon icon ion-share" ng-click="SShare(post.idpost, $event)"></a>
			</div>
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>		
	</ion-content>
</ion-view>