<ion-view class="home">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<!-- <pre>{{categorias | json}}</pre> -->
		<div ng-if="!loading">
			<div class="categoria" ng-repeat="categoria in categorias">
				<div class="big" ng-style="{width:appAncho+'px', height:appAncho*181/345+'px'}">
					<a href="#/app/categoria/{{categoria.idcategoria}}">
						<img ng-src="{{imagesUrl}}categorias/{{categoria.foto_cat}}" alt="">
						<h1>{{categoria.nombre_cat}}</h1>
					</a>
				</div>
				<div class="trio">
					<div class="catitem" ng-repeat="destacado in categoria.destacados">
						<a href="#/app/single/{{destacado.idproducto}}">
							<img ng-src="{{imagesUrl}}productos/{{destacado.fotoportada}}" >
							<h2>{{destacado.precio_desc | number:0}}Bs.</h2>
						</a>
					</div>
				</div>
				<div class="padding">
					<p ng-bind-html="categoria.descripcion_cat"></p>
				</div>
				<div style="text-align: right;" class="padding">
					<a href="#/app/categoria/{{categoria.idcategoria}}" class="button button-outline button-royal">
						Ver más {{categoria.nombre_cat}}
					</a>
				</div>
			</div>
		</div>		
	</ion-content>
</ion-view>