<ion-view class="wishlist carrito checkout">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
	<!-- <pre>{{orden | json}}</pre> -->
		<div class="titulo">
			<h1>Mi Compra</h1>
		</div>
		<div class="empty padding" ng-if="carrito.length < 1 && !loading" >
			<h1>No tienes nada en tu carrito, algun otro mensaje aqui</h1>
		</div>		
		<div class="producto producto-animation" ng-repeat="producto in orden.productos" ng-if="producto.cantidad > 0">
			<a href="#/app/single/{{producto.idproducto}}">
				<img ng-src="{{imagesUrl}}productos/{{producto.fotoportada}}" alt="" />
			</a>
				<h1>{{producto.cantidad}}x {{producto.nombre_prod}}</h1>
				<h1>Talla {{producto.talla}} </h1>
				<h3>{{producto.precio_tot_prod | number:0}} Bs.</h3>
		</div>
		<div class="padding totales">
			<p>Sub-Total: {{orden.subtotal | number:2}} Bs.</p>
			<p>I.V.A.: {{orden.iva | number:2}} Bs.</p>
			<p>Envio: {{orden.costoenvio | number:2}} Bs.</p>
			<h1>Total: {{orden.total | number:2}} Bs.</h1>
		</div>
		<div class="padding">
			<a class="button button-block button-outline button-balanced">
				Pagar con Tarjeta
			</a>
			<a class="button button-block button-outline  button-balanced">
				Pagar con Transferencia
			</a>
			
		</div>
	</ion-content>
</ion-view>