<ion-view class="home dis_single">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>
	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
	<!-- <pre>{{disenador |json }}</pre> -->
		<div>
			<div class="categoria">
				<div class="header_dis" ng-if="disenador.avatar_dis">
					<img ng-src="{{imagesUrl}}disenadores/m/{{disenador.fondo_dis}}" alt="">
					<div class="avatar">
						<img ng-src="{{imagesUrl}}disenadores/{{disenador.avatar_dis}}" alt="">
					</div>
				</div>
					<h1 class="dis_title">
						{{disenador.nombre_dis}}
						<span class="social">
							<a ng-click="goSocial('twitter')" ng-if="disenador.twitter" class="button button-small button-balanced icon ion-social-twitter"></a>
							<a ng-click="goSocial('facebook')" ng-if="disenador.facebook" class="button button-small button-balanced icon ion-social-facebook"></a>
							<a ng-click="goSocial('instagram')" ng-if="disenador.instagram" class="button button-small button-balanced icon ion-social-instagram"></a>
						</span>
					</h1>
				<div class="padding">
					<p ng-bind-html="disenador.descripcion_dis"></p>
				</div>
			</div>
			<div ng-if="loadingprod" style="text-align: center">
				<ion-spinner icon="dots"></ion-spinner>
			</div>
			<div class="relacionadas">
				<div class="relitem" ng-repeat="relacionado in productos">
					<a href="#/app/single/{{relacionado.idproducto}}">
						<img ng-src="{{imagesUrl}}productos/{{relacionado.fotoportada}}" alt="">
						<h2>{{relacionado.nombre_dis}}</h2>
						<h1>{{relacionado.nombre_prod}}</h1>
						<h3>Bs. {{relacionado.precio_desc | number:0}}</h3>
					</a>
				</div>
			</div>			
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>