<ion-view class="home disenadores">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<!-- <pre>{{disenadores | json}}</pre> -->
		<div >
			<div class="categoria disenadores-animation" ng-repeat="disenador in disenadores">
				<div class="big" ng-style="{width:appAncho+'px', height:appAncho*181/345+'px'}">
					<a href="#/app/disenador/{{disenador.iddisenador}}">
						<img ng-src="{{imagesUrl}}productos/{{disenador.avatar_dis}}" alt="">
						<h1>{{disenador.nombre_dis}}</h1>
					</a>
				</div>
			</div>
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>