<ion-view class="home disenadores">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<!-- <pre>{{disenadores | json}}</pre> -->
		<div class="row" ng-if="$even" ng-repeat="disenador in disenadores" class="rowdisenadores">
			<div class="col-50 col disenador">
				<a href="#/app/disenador/{{disenadores[$index].iddisenador}}">
					<img ng-src="{{imagesUrl}}disenadores/{{disenadores[$index].avatar_dis}}" alt="">
					<h1>{{disenadores[$index].nombre_dis}}</h1>
				</a>
			</div>
			<div class="col-50 col disenador" ng-if="disenadores[$index+1]">
				<a href="#/app/disenador/{{disenadores[$index+1].iddisenador}}">
					<img ng-src="{{imagesUrl}}disenadores/{{disenadores[$index+1].avatar_dis}}" alt="">
					<h1>{{disenadores[$index+1].nombre_dis}}</h1>
				</a>
			</div>
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>