<ion-view class="home">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>
	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
	<!-- <pre>{{disenador |json }}</pre> -->
		<div>
			<div class="categoria">
				<div class="big cover-animation" ng-style="{width:appAncho+'px', height:appAncho*181/345+'px'}" ng-if="disenador.avatar_dis">
					<img ng-src="{{imagesUrl}}productos/{{disenador.avatar_dis}}" alt="">
					<h1>{{disenador.nombre_dis}}</h1>
				</div>
				<div class="padding">
					<p ng-bind-html="disenador.descripcion_dis"></p>
				</div>
			</div>
			<div ng-if="loadingprod" style="text-align: center">
				<ion-spinner icon="dots"></ion-spinner>
			</div>
			<div class="relacionadas">
				<div class="relitem" ng-repeat="relacionado in productos">
					<a href="#/app/single/{{relacionado.idproducto}}">
						<img ng-src="{{imagesUrl}}productos/{{relacionado.fotoportada}}" alt="">
						<h2>{{relacionado.nombre_dis}}</h2>
						<h1>{{relacionado.nombre_prod}}</h1>
						<h3>Bs. {{relacionado.precio_desc | number:0}}</h3>
					</a>
				</div>
			</div>			
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>