<ion-view class="home">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="images/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<!-- <pre>{{categorias | json}}</pre> -->
		<div>
			<div class="categoria home-animation" ng-repeat="categoria in categorias" ng-animate-children>
				<div class="big" ng-style="{width:appAncho+'px', height:appAncho+'px'}">
					<a href="#/app/categoria/{{categoria.idcategoria}}">
						<img ng-src="{{imagesUrl}}categorias/m/tn/{{categoria.foto_cat}}" alt="">
						<h1>{{categoria.nombre_cat}}</h1>
					</a>
				</div>
				<div class="trio">
					<div class="catitem" ng-repeat="destacado in categoria.destacados">
						<a href="#/app/single/{{destacado.idproducto}}">
							<img ng-src="{{imagesUrl}}productos/{{destacado.fotoportada}}" >
							<h2>Bs. {{destacado.precio_desc | number:0}}</h2>
						</a>
					</div>
				</div>
				<div class="padding">
					<p ng-bind-html="categoria.descripcion_cat"></p>
				</div>
				<div style="text-align: right;" class="padding">
					<a href="#/app/categoria/{{categoria.idcategoria}}" class="button button-small button-outline button-royal">
						Ver más {{categoria.nombre_cat}}
					</a>
				</div>
			</div>
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>