<ion-view class="home">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>
	<ion-content>
		<div class="categoria">
			<div class="big">
				<a href="#/app/single/2">
					<img src="img/categoria_cover.jpg" alt="">
					<h1>Shorts</h1>
				</a>	
			</div>
			<div class="trio">
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
			</div>
			<div class="padding">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores tempora eligendi dolor ullam suscipit, incidunt ratione necessitatibus ducimus repellendus.</p>
			</div>
			<div style="text-align: right;" class="padding">
				<button class="button button-outline button-royal">
					Ver más shorts
				</button>
			</div>
		</div>
		<div class="categoria">
			<div class="big">
				<img src="img/categoria_cover.jpg" alt="">
				<h1>Shorts</h1>
			</div>
			<div class="trio">
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
				<div class="catitem">
					<img src="img/categoria_cover.jpg" alt="">	
					<h2>32000Bs</h2>
				</div>
			</div>
			<div class="padding">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores tempora eligendi dolor ullam suscipit, incidunt ratione necessitatibus ducimus repellendus.</p>
			</div>
			<div style="text-align: right;" class="padding">
				<button class="button button-outline button-royal">
					Ver más shorts
				</button>
			</div>
		</div>		
	</ion-content>
</ion-view>