<ion-pane class="login">
	<div class="logo">
		<img src="img/logo_top.png" alt="">
	</div>
	<form ng-submit="doLogin()" name="loginForm">
		<div class="list_">
			<label class="itemlogin item_ item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="Email" required ng-model="login.email">
			</label>
			<label class="itemlogin item_ item-input item-floating-label">
				<span class="input-label">Contraseña</span>
				<input type="password" placeholder="Contraseña" required ng-model="login.clave">
			</label>
			<div class="botoncontenedor">
				<div class="loginboton" 
				ng-class="{'cargando': util.loading, 
							'logged':util.logged,
							'disabled': loginForm.$invalid}" 
				ng-click="(loginForm.$invalid || util.loading) || doLogin()">
					<span>
						{{util.boton}}
					</span>
					<svg class="circular" viewBox="25 25 50 50">
						<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
					</svg>
				</div>				
			</div>
			<a href="#/forgot" class="button button-clear button-block button-royal">Olvidé mi contraseña</a>
		</div>
	</form>
	<div class="reglink">
		<div class="shadow"></div>
		<a href="#/register"><img src="img/newprofile.png" alt="">Abre una cuenta aquí</a>
	</div>
</ion-pane>
