<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button button-clear button-bag">
        <i></i><img src="img/back.png" alt="">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon button-royal" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search-strong button-royal">
        </button>
        <button class="button button-clear button-bag" >
          <span class="badge badge-balanced itemscarrito">10</span>
          <img src="img/bag.png" alt="">
        </button>
      </ion-nav-buttons>      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sidemenu">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <img src="img/mail.png" alt="">Home
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/mail.png" alt="">Mensajes <span class="badge badge-balanced">0</span>
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/mail.png" alt="">Perfil
        </ion-item>
        <ion-item menu-close href="#/app/wishlist">
          <img src="img/whishlist.png" alt="">Wishlist
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/blog.png" alt="">Blog
        </ion-item>
        <ion-item menu-close href="#/app/disenadores">
          <img src="img/disenadores.png" alt="">Diseñadores
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/checkout.png" alt="">Checkout
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/checkout.png" alt="">Historial
        </ion-item>
        <ion-item menu-close ng-click="logout()" href="">
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
