<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button button-clear button-bag">
        <i></i><img src="img/back.png" alt="">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon button-royal" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
      <a href="#/app/search" class="button button-icon button-clear ion-ios-search-strong button-royal">
        
      </a>
        <a class="button button-clear button-bag" href="#/app/carrito">
          <span class="badge badge-balanced itemscarrito" ng-if="productosCarrito > 0">{{productosCarrito}}</span>
          <img src="img/bag.png" alt="">
        </a>
      </ion-nav-buttons>      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sidemenu">
      <ion-list class='sidemenusin'>
        <ion-item menu-close href="#/app/home">
          <img src="img/home.svg" alt="">Inicio
        </ion-item>
        <ion-item menu-close href="#/app/notificaciones">
          <img src="img/mail.png" alt="">Mensajes <span class="badge badge-balanced">{{mensajesNuevos}}</span>
        </ion-item>
<!--         <ion-item menu-close href="#/app/home">
          <img src="img/mail.png" alt="">Perfil
        </ion-item> -->
        <ion-item menu-close href="#/app/wishlist">
          <img src="img/wishlist.svg" alt="">Favoritos
        </ion-item>
        <ion-item menu-close href="#/app/blog">
          <img src="img/blog.svg" alt="">Blog
        </ion-item>
        <ion-item menu-close href="#/app/disenadores">
          <img src="img/disenadores.svg" alt="">Diseñadores
        </ion-item>
        <ion-item menu-close href="#/app/carrito">
          <img src="img/bag.svg" alt="">Carrito
        </ion-item>
        <ion-item menu-close href="#/app/mis-ordenes">
          <img src="img/home.svg" alt="">Historial
        </ion-item>
        <ion-item menu-close ng-click="logout()" href="">
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
