<ion-view class="blog">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="images/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>

	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>	
	<ion-content>
		<div class="titulo">
			<h1>Blog</h1>
		</div>
		<div class="post">
			<img ng-src="{{imagesUrl}}/blog/{{post.foto}}" alt="">
			<div class="padding">
				<h1>{{post.titulo}}</h1>
				<div class="resume" ng-bind-html="post.cuerpo"></div>
				<a class="button button-icon icon ion-share" ng-click="SShare(post.idpost)"></a>
			</div>
		</div>	
	</ion-content>
</ion-view>