<ion-pane class="bgbg">
 	<a href="#/login" class="button button-clear icon-left ion-chevron-left">Login</a>
 	<div class="login login100">
	<div class="logo">
		<img src="images/logo_big.png" alt="">
	</div>
	<form ng-submit="doReg()" name="loginForm">
		<div class="list_">
			<label class="itemlogin item_ item-input item-floating-label">
				<span class="input-label">Nombre</span>
				<input type="text" placeholder="Nombre" required ng-model="login.nombre">
			</label>
			<label class="itemlogin item_ item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="Email" required ng-model="login.email">
			</label>
			<label class="itemlogin item_ item-input item-floating-label">
				<span class="input-label">Contraseña</span>
				<input type="password" placeholder="Contraseña" required ng-model="login.clave">
			</label>
			<div class="botoncontenedor">
				<div class="loginboton" 
				ng-class="{'cargando': util.loading, 
							'logged':util.logged,
							'disabled': loginForm.$invalid}" 
				ng-click="(loginForm.$invalid || util.loading) || doReg()">
					<span>
						{{util.boton}}
					</span>
					<svg class="circular" viewBox="25 25 50 50">
						<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
					</svg>
				</div>				
			</div>
		</div>
	</form>
	</div>
</ion-pane>