<ion-view class="single">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_big.png" alt=""></a>
		</div>
	</ion-nav-title>
	<ion-pane ng-if="loading" class="loading">
		<ion-spinner></ion-spinner>
	</ion-pane>		
	<ion-content>
	<!-- <pre>{{producto | json}}</pre> -->
		<div>
			<div  ng-style="{width:appAncho+'px', height:appAncho+'px', position:'relative'}">
				<ul rn-carousel rn-carousel-index="carouselIndex" class="imagecarrousel" ng-style="{width:appAncho+'px', height:appAncho+'px'}">
					<li ng-repeat="foto in producto.fotos">
						<div class="layer" ng-style="{width:appAncho+'px', height:appAncho+'px'}"><img ng-src="{{imagesUrl}}productos/{{foto.foto}}"></div>
					</li>
				</ul>
				<div rn-carousel-indicators ng-if="producto.fotos.length > 1" slides="producto.fotos" rn-carousel-index="carouselIndex"></div>
			</div>
			<div class="header padding">
				<h2>
					<a href="#/app/disenador/{{producto.iddisenador}}">{{producto.nombre_dis}}</a>
				</h2>
				<h1>
					{{producto.nombre_prod}}
				</h1>
				<div class="iconos">
					<div class="fav" ng-class="{'favorited': producto.favoriteado!=0}" ng-click="favorite(producto)">
						<div class="corazon">
							<i class="icon ion-ios-heart-outline"></i>
							<i class="icon ion-ios-heart"></i>
						</div>
						<span>Favorito</span>
					</div>
					<div class="share">
						<div class="cosito">
							<i class="icon ion-share"></i>
						</div>
						<span>Compartir</span>
					</div>
				</div>
			</div>
			<div class="list">
			<div class="row">
				<div class="col">
					<span class="precion" ng-if="producto.precio">{{producto.precio | number:0}}Bs. <span></span></span>
					<span class="preciod">{{producto.precio_desc | number:0}}Bs.</span>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
				<label class="item item-input item-select">
					<div class="input-label">
						Talla
					</div>
					<select ng-change="tallaChanged(tallaSelected)") ng-model="tallaSelected">
						<option ng-repeat="talla in producto.tallas" value="{{$index}}">{{talla.talla}}</option>
					</select>
				</label>
					
				</div>
				<div class="col col-50">
				<label class="item item-input item-select">
					<div class="input-label">
						Cantidad
					</div>
					<select ng-model="producto.cantidad">
						<option ng-repeat="numero in cantidad" value="{{numero}}">{{numero}}</option>
					</select>
				</label>
					
				</div>
			</div>
			</div>
			<div class="padding">
				<button class="button button-outline button-royal" ng-disabled="!tallaSelected || producto.cantidad == 0 || producto.cantidad=='' " ng-click="enviarAlCarrito()">
					Comprar
				</button>
			</div>
			<div class="padding">
				<p ng-bind-html="producto.descripcion_prod"></p>
			</div>
			<div class="titulo">
				<h1>Relacionados</h1>
			</div>
			<div class="relacionadas">
				<div class="relitem" ng-repeat="relacionado in relacionados">
					<a href="#/app/single/{{relacionado.idproducto}}">
						<img ng-src="{{imagesUrl}}productos/{{relacionado.fotoportada}}" alt="">
						<h2>{{relacionado.nombre_dis}}</h2>
						<h1>{{relacionado.nombre_prod}}</h1>
						<h3>{{relacionado.precio_desc | number:0}} Bs</h3>
					</a>
				</div>
			</div>
		</div>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded && page>1"
		on-infinite="loadMore()"
		immediate-check="false"
		spinner="dots"
		distance="1%">
	</ion-infinite-scroll>
	</ion-content>
</ion-view>